---
- hosts: webserver
  vars:
    - docker_compose_version: "1.29.2"
    - project_name : "Lib-Help"

  tasks:
    # Install Docker
    - name: Install Docker
      apt:
        name: docker.io
        state: present

    # Install Docker Compose
    - name: Install Docker Compose
      apt:
        name: docker-compose
        state: present

#    # Create directory for Docker Compose files
#    - name: Create Docker Compose directory
#      become : true
#      file:
#        path: /{{ project_name }}/docker-compose
#        state: directory
#        mode: "0755"


    # Copy Docker Compose file
    - name: Copy Docker Compose file
      copy:
        src: docker-compose.yml
        dest: ./

    # Pull Docker images and Start Containers
    - name: Pull Docker images
      docker_compose:
        project_src: ./
        state: started
        pull: yes

